*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #363635;
    color:#fff;
}
 
#header{
    width: 100%;
    height: 100vh;
    background-image: url(/img/undraw_developer_activity_re_39tg\ \(1\).svg);
    background-repeat: no-repeat; 
    /* background-position: 50px; */
    background-position: bottom 5rem right 3rem;
    background-size:  500px 500px;;
}

.container{
    padding: 10px 10%;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo{
    width: 140px;
    
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
    content: ' ';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;

}
.header-text{
    margin-top: 10%;
    font-size: 30px;
}

.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #ff004f;
}

#about{
    padding: 80px 0;
    color:#ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}

.about-col-2{
    flex-basis: 60%
}
.sub-title{
    font-size: 30px;
    font-weight: 600;
    color: #ffff;    
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px ;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: ' ';
    width: 0px;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
    
}

.tab-links.active-link::after{
    width: 50%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0 ;
}
.tab-contents ul li span{
  color: #f3f3f3;
  font-size: 14px;
}

.tab-contents{
    display:none;
}

.tab-contents.active-tab{
    display: block;
}
/* Certification Styling */
#cert{
    padding: 50px 0;
}
.cert-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.cert{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.cert .img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background:linear-gradient(rgba(0,0,0,0.6),#0dda36);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.cert :hover img{
    transform: scale(1.1);
}

.cert:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin:50px auto;
    width : fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
}

.btn:hover{
    background:#0dda36;
}
.social-icons{
    margin-left: 40%;
}

.social-icons a{
    color: #fff;
    font-size: 3rem;
    padding: 5px;
    column-count: 3;
    column-gap: 30px;
}
.contact-left h1{ 
    margin-left:450px ;
    margin: auto;
}
.sub-titlef{
        font-size: 60px;
        font-weight: 600;
        color: #fff;
       margin-left:55% ;
}
.sub-titlereg{
    font-size: 40px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

@media only screen and (width:768px){
    #about {
        padding: 80px 0px;
        color: rgb(171, 171, 171);
        margin-top: 4rem;
    }
    #header{
        height: 50vh;
    }
    .social-icons{
        margin-left: 30%;
    }
    
} 

@media only screen and (max-width:600px){

        .social-icons{
        margin-left: 20%;
    }
    
}

@media only screen and (max-width:500px){
    #header{
        
       
        height: 45vh;
    }
    .header-text{
        font-size: 40px;
    }
    .header-text h1{
        font-size: 50px;
    }
    .container nav{
        display: none;
    }
    .social-icons{
        margin-left: 10%;
    }
    .about-col-1 img{
        display: none;
    }
    .about{
        margin-top: 10rem;
    }
}

@media only screen and (max-width:450px){
    #about {
        padding: 80px 0px;
        color: rgb(171, 171, 171);
        margin-top: 10rem;
    }
}
@media only screen and (max-width:320px){
    #about {
        padding: 80px 0px;
        color: rgb(171, 171, 171);
        margin-top: 10rem;
    }
}
@media only screen and (max-width:1300px) {
    #header{
        background-image: none;
    }
    
   
}


